.header {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

li {
    padding: 5px;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 10px;
}

.link:hover {
    background-color: #366EFF;
    border-radius: 8px;
    color: #FFFFFF;
}

.active {
    background-color: #366EFF;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
}

